[submodule "preserve"]
	path = preserve
	url = git@github.com:umd-lib/preserve.git
[submodule "patsy"]
	path = patsy
	url = git@github.com:umd-lib/patsy.git
[submodule "aws-archiver"]
	path = aws-archiver
	url = git@github.com:umd-lib/aws-archiver.git
